.main-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main-appbar-container{
    position: absolute;
    width: 100vw;
    height: var(--app-bar-height);
}
.main-content-container{
    position: absolute;
    top: var(--app-bar-height);
    width: 100vw;
    height: calc(100vh - var(--app-bar-height));
}

.padding-12-container{
    width: calc(100vw - 24px);
    padding: 0px 12px 0px 12px;
    height: 100%;
}